PORT=3333
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/alerta_dengue_udi?schema=public
WEATHER_API_BASE_URL=https://api.open-meteo.com/v1
WEATHER_TIMEZONE=America/Sao_Paulo
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:seuemail@exemplo.com